/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*alert: 'Funciona!' ; --> para un pop up de comprobación */ 
}

body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  color: #333;
}

/* HEADER ------------------------------- */
header {
    width: 100%;
    height: 300px;
    overflow: hidden; /*oculta lo que sobresale*/
}

header img {
    width: 100%;
    height: 100%;
    object-fit: cover; /*cubre el contenedor y mantiene su relación de aspecto*/
}


/* GALERÍA --------------------------------*/
#galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /*  repeat: función que repite lo que hay en su interior
        auto-fit: crea tantas columnas como quepan en el contenedor;
        minmax(250px, 1fr): minmax(tamañomínimo, tamañomáximo) de cada columna*/
    gap: 1rem;
    padding: 2rem;
}

.card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card p {
    padding: 1rem;
    font-size: 0.95rem;
}

/*mediaqueries*/